[submodule "arrival"]
	path = arrival
	url = git@github.com:mmcloughlin/veriisle-wasmtime.git
	branch = veriisle
[submodule "data/eval"]
	path = data/eval
	url = git@github.com:mmcloughlin/veriisle-data.git
