[submodule "arrival"]
	path = arrival
	url = git@github.com:mmcloughlin/arrival.git
	branch = oopsla25-artifact
[submodule "data/eval"]
	path = data/eval
	url = git@github.com:mmcloughlin/veriisle-data.git
